subscription_id      = "00000000-0000-0000-0000-000000000000"
resource_group_name  = "fcg-notifications-dev-rg"
location             = "brazilsouth"
function_app_name    = "fcg-notifications-dev-001"
storage_account_name = "fcgnotifdev001"

log_analytics_daily_quota_gb              = 0.1
application_insights_daily_data_cap_in_gb = 0.1
instance_memory_in_mb                     = 512
maximum_instance_count                    = 2

tags = {
  environment = "development"
  project     = "FIAPCloudGames"
}
